.no-sidebar {

	.site {
		display: grid;
		grid-template-columns: auto;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}
}
.site-header {
	grid-area: header;
	background-color: rgb(230, 174, 21);
	min-height: 100vh;


}
.site-branding{
	display: flex;
	padding: 2rem;
	justify-content:center;
	width: 17%;
	border: #fff solid 2px;
	margin-left: 2rem;


}
.site-title{
	margin-left: 10px;

	a {
		text-decoration: none;
	}
	
}
.hero-description {
	padding: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #fff;
	width: 21rem;
	margin: auto;
}
.site-description{
	transform: translate(14rem, -50%);
}
.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}



.site-footer {
	grid-area: footer; 
}